//  Neutral Colors
$neutral: (
  'white': #ffffff,
  'black': #191d23,
  'pastel': #eff6fc,
  'smoke': #d0d5dd,
  'dark-smoke': #64748b,
  'light-smoke': #eaecf0,
  'lightest-smoke': #f9fafb,
);

// brand color
$brand: (
  'red': #f72585,
  'blue': #2a72a8,
);

$container: (
  'width': 1200px,
);
