.step_beforenumber {
  padding: 3px 8px;
  background-image: linear-gradient(to bottom, rgba(247, 37, 133, 0.2) 50%, #97dbef 50%);
  color: #f72585;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: 600;
}
.fonttext_updateprofile {
  margin-top: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.space_buttonholder {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
