.education_update{
  border: 1px solid #d0d5dd;
  padding: 14px 20px;
  border-radius: 10px;
  width: 100%;
  background-color: #f6f6f6;
  font-family: "Manrope";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #344054;
}
.employment_title{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.employment_details{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 8px;
}
.new{
  color: black;
  font-weight: bold;
  font-display: block;
  margin-top: 18px;
}
.submit{
    border: 1px solid #d0d5dd;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-family: "Inter";
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #2A72A8 50%, #86d0ea 50%);
    -webkit-transition: background-position 250ms;
    -moz-transition: background-position 250ms;
    transition: background-position 250ms;
}
.submit:hover {
    background-position: 0 -100%;
}

